.topbox{  height: 100px; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 2rem;  grid-template-rows: 1fr;}
@media ( max-width: 1000px) {
    .topbox{  height: 200px; display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;  grid-template-rows: 1fr 1fr;}
}
@media ( max-width: 740px) {
    .topbox{  height: 400px; display: grid; grid-template-columns: 1fr ; gap: 1rem;  grid-template-rows: 1fr 1fr 1fr 1fr;}
}