.bottomBox{ display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; flex-grow: 1;}
.pieChart{background-color: #FFFFFF; border-radius: 30px; padding: 1rem 2rem; flex-grow: 0; max-height: 250px;}
.schedule{background-color: #FFFFFF; border-radius: 30px; padding: 1rem 2rem; flex-grow: 0; max-height: 250px;}
.header{display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.scheduleList{display: flex; flex-direction: column; gap: 0.5rem;}
.before{  width: 4px;}
.scheduleData{display: flex; flex-direction: row; gap:0.3rem}
@media ( max-width: 760px) {
    .bottomBox{ display: grid; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr; gap: 2rem; max-height: 250px;}}