.App{
    
    background-color:#F5F5F5;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  align-items: center; width: 100vw;
}
.appBox{
    display: grid;
    height: 97%;
    width: 97%;
    background-color: #F5F5F5;
    grid-template-columns: 1fr 5fr;
    gap:1rem; 
}
@media ( max-width: 1000px) {
  .appBox{
    display: grid;
    height: 97%;
    width: 97%;
    background-color: #DDDDDD;
    grid-template-columns: 1fr ;
    gap:1rem
}
}